.gen{
    background-color: rgb(237, 238, 227);
}
.sports{
    background-color: rgb(236, 223, 226);
}
.technology{
    background-color: rgb(231, 216, 216);
}
.entertainment{
    background-color: rgb(236, 231, 228);
}