.gen{
    background-color: rgb(233, 241, 117);
}
.sports{
    background-color: rgb(236, 223, 226);
}
.technology{
    background-color: rgb(231, 191, 191);
}
.entertainment{
    background-color: rgb(245, 215, 194);
}