.container{

  background-color:rgb(206, 240, 216);
  color: rgb(26, 21, 19);  

}
.card{
    
   border-bottom:rgb(155, 149, 149) ;
}
.header{
  font-weight: 600;
  font-family: 'Tangerine', cursive;
}
