.article{

  background-color:rgb(111, 116, 66);
  color: rgb(26, 21, 19);  

}

.header{
  font-weight: 600;
  font-family: 'Tangerine', cursive;
}
.info{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top:5px ;
}
