.container{

  background-color:rgb(207, 158, 10);
  color: rgb(46, 38, 35);  

}
.card{
    
   border-bottom:rgb(155, 149, 149) ;
}
.header{
  font-weight: 600;
  font-family: 'Tangerine', cursive;
}
