
{% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/macro.css')}}">
{% endblock %}

{% macro displaySourceList(source_list) %}
        
            <div class="card-body">
                {% for source in source_list %}
                <div class="card-title">
                    <h4><a href="{{source.url}}">{{ source.name}}</a></h4>  
                </div>
                <div class="card-content">
                        <p>{{source.description}}</p>
                </div>
                    <diV class="">
                        <P><a href="/articles/{{source.id}}">Lastest stories</a></P>
                    </diV>
                {% endfor %}
 
                
            </div>
{% endmacro %}

{% macro display_Source_articles(source_articles_list) %}
<div class="container" id="articles">
    <div class="row" >
        {% for article in source_articles_list %}
            <div class="col-sm-4">
                <div class="card info">
                    <img src="{{article.urlToImage}}" alt="{{article.title}}" class="card-img">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card info">
                    <div class="card-header title"><h4>{{article.source.name}}</h4> </div>
                    <div class="card-body">
                        <p class="desc">{{article.description}}</p>
                        
                        <div>
                            <p>posted:{{article.publishedAt|truncate(13)}}</p>
                        </div>
                        

                        <p><a href="{{article.url}}">Read More....</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endmacro %}       